@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)

  .right
    left: 0px

  .first__screen
    width: 100%
    height: 100%
    display: flex
    flex-wrap: wrap
    align-items: space-between

  .header__menu
    height: 100px
    height: 50px
    margin-top: 0px
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: flex-start

  .contact__block__tell
    margin-top: 5%
  
  .block__animation__circle
    display: none

  .menu__info 
    display: none

  .header__email 
    width: 100%

  .block__email__one
    width: 100%
    height: 200px
    display: flex
    justify-content: center

  .header__block
    width: 100%
    
  .header__block__text
    width: 100%
    margin-top: 10%
    display: flex
    flex-wrap: wrap
    justify-content: center
    span 
      font-size: 120px
      width: 100%
      height: 100px
      display: flex
      justify-content: center
      align-items: center
  
  .form__block
    width: 100%
    margin-top: 5%
    display: flex
    justify-content: center

  .input__one
    width: 100%
    padding-left: 15% 
  .input__two
    width: 100%
    padding-left: 15%

  .email__button__block 
    width: 100%
    height: 65px


  .video__block__info
    position: inherit
    padding-left: 0px
    margin-top: 0px
    width: 100%

  .video__block__text
    width: 100%

  .video__block__text__info
    margin-top: 10%
  
  .text__header
    width: 100%
    font-size: 58px

  .third__screen__action
    width: 60%
    height: 60%
    left: 25%
    top: 0%

  .room__info__block
    width: 110px
    height: 110px
    top: 30%
    left: 10%
    img 
      width: 110px
      height: 110px

  .room__info__text
    top: 40%
    left: 20%

  .room__info__block__two
    width: 110px
    height: 110px
    display: block
    border: 1px solid red
    margin-top: -60%
    left: 60%
    img 
      width: 110px
      height: 110px
   

  .thirt__screen__room__email
    margin-top: -70%
    position: relative
    display: block
    width: 100%
    height: 200px
    border: 1px solid green
    

  .form__room
    top: 20%

  .room__info__text__two
    margin-top: -60%
    left: 70%

  .input__room__two
    width: 100%
 
   

  .block__button__form__room
    width: 100%
    left: 0%
    height: 70px


  .elips__container 
    margin-left: 0%

  .block__girl
    display: none

  .city__map__odesa
    display: none
  .city__map__kiev
    display: none
  .city__map__lviv
    display: none

  .button__block
    width: 60%
    margin-left: 40%
    margin-top: 0px
    font-size: 16px
    button 
      width: 100%
      font-size: 16px
    


  .footer__logo__info
    margin-top: 0px
    height: 5px

  .footer__info
    margin-top: 0px

  .footer__form__info 
    margin-top: 10px

  .footer__form
    margin-top: 0px
    display: flex
    justify-content: center

  .footer__form__button
    width: 100%
    height: 70px
    margin-top: 20px 
  




/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
  
// ≤1200px
+media-breakpoint-up(xl)
  
 