@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #EDEDED

::selection
	background-color: $accent
	color: #fff

* 
	outline: 0 !important

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: #161617
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold


// style

.first__screen
	width: 100%
	height: 100%
	background: url(../img/background-1.png) no-repeat 
	background-size: 100% 100%

.menu__info
	width: 150px
	height: 25px
	display: flex
	justify-content: center
	align-items: center
	position: absolute
	z-index: 100
	top: 68%
	left: 3%
	transform: rotate(90deg)
	opacity: 0.2
	color: #fff
	font-family: "GilroyExtraBold"
	font-size: 14px
	font-weight: 400
	line-height: 70px
	letter-spacing: 2.79px

.content__block
	width: 100%

// header menu

.header__menu
	width: 100%
	height: 50px
	margin-top: 42px
	display: flex 
	justify-content: space-between
	align-items: center

.menu__logo__info
	width: 307px
	height: 100%
	display: flex
	justify-content: space-between
	align-items: center

.header__menu__info
	width: 180px
	height: 34px
	opacity: 0.2
	color: #ffffff
	font-family: "GilroyExtraBold"
	font-size: 14px
	font-weight: 400
	line-height: 18px
	text-transform: uppercase
	letter-spacing: 2.62px
	
.contact__block__tell
	width: 275px
	height: 23px
	color: #ffffff
	font-family: "GilroyExtraBold"
	font-size: 30px
	font-weight: 400
	line-height: 60px
	letter-spacing: 0.75px
	display: flex
	align-items: center
	
.contact__block__img
	width: 60px
	height: 39px
	display: flex
	justify-content: center
	align-items: center
	margin-left: 10px

.contact__block__info
	width: 277px
	height: 12px
	margin-top: 10px
	display: flex
	justify-content: center
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25)
	color: #ffffff
	font-family: "UbuntuMediumItalic"
	font-size: 12px
	font-weight: 400
	line-height: 7.23px
	letter-spacing: 0.12px

//animation block circle

.block__animation__circle
	width: 384px
	height: 200px
	margin-top: 150px
	margin-left: 150px
	position: relative
	
.circle__animation
	width: 15px
	height: 15px
	border: 5px solid #5327ff
	box-shadow: 0 0 10px rgba(83, 39, 255, 0.6)
	border-radius: 50%

.one__animation 
	position: absolute
	left: 41%
	top: 27%
	animation: circle__animation 2s infinite alternate

.two__animation
	position: absolute
	left: 85%
	top: 45%
	animation: circle__animation 1.8s infinite alternate

.three__animation
	position: absolute
	left: 80%
	top: 88%
	animation: circle__animation 1.2s infinite alternate

.four__animation
	position: absolute 
	left: 5%
	top: 82%
	animation: circle__animation 0.8s infinite alternate


//aniamtion block

@keyframes circle__animation 

	0%
		width: 15px
		height: 15px
	100%
		width: 18px
		height: 18px
		box-shadow: 0 0 15px rgba(83, 39, 255, 0.8)

// email block 

.block__email__one
	width: 100%
	height: 400px
	margin-top: 50px
	display: flex 
	justify-content: flex-end

.header__block
	width: 100%
	display: flex 
	justify-content: flex-end

.header__block__text
	width: 411px
	span
		width: 411px
		color: #ffffff
		font-family: "GilroyExtraBold"
		font-size: 191px
		font-weight: 400
		line-height: 128.97px
		
.form__block 
	width: 411px
	height: 100px
	margin-top: 25px
	display: flex
	justify-content: center

.input__one 
	width: 70%
	background: none 
	border: none
	border-bottom: 2px solid rgba(83, 39, 255, 0.8)
	font-family: "GilroyUltraLight"
	color: #EDEDED

.input__two
	width: 60%
	margin-top: 15px
	background: none 
	border: none
	border-bottom: 2px solid rgba(83, 39, 255, 0.8)
	font-family: "GilroyUltraLight"
	color: #EDEDED
	
		
.email__button__block
	width: 411px
	height: 80px
	margin-top: 15px
	border-radius: 50px
	background: url(../img/gradien__button.png)no-repeat center
	background-size: 100% 100%
	display: flex 
	justify-content: center
	align-items: center
	color: #fff
	font-size: 24px
	font-family: "GilroyExtraBold"
	cursor: pointer
	&:hover 
		color: #EDEDED
		box-shadow: 0 0 20px rgba(83, 39, 255, 0.8)


// block video

.second__screen
	width: 100%
	height: 100%
	background: url(../img/workoutmen2.png) no-repeat center 
	background-size: 100% 100%

.video__block__info
	width: 100%
	height: 500px
	margin-top: 100px
	padding-left: 100px
	position: relative

.video__block__text
	height: 260px

.text__header 
	height: 80px
	margin-bottom: 10px
	color: #fff
	font-size: 68px
	font-family: "GilroyExtraBold" 

.video__block__text__info
	margin-top: 10px
	font-size: 16px
	color: #fff
	font-family: "GilroyUltraLight"
	span
		font-family: "GilroyExtraBold" 

.video__block__icon
	width: 270px
	height: 270px
	border-radius: 50%
	position: absolute
	display: flex
	justify-content: center
	align-items: center
	top: 40%
	left: 44%
	a 
		width: 80px
		height: 80px
		display: block
		border-radius: 50%
		z-index: 10
		cursor: url(../img/cursor.png) 24 24, auto


// block third content

.third__screen
	width: 100%
	height: 100%
	background: url(../img/background-3.png) no-repeat 
	background-size: 100% 100%
	position: relative

.action__cirle__info 
	border-radius: 50px
	position: absolute
	top: 0px
	left: 35%
	z-index: 10
	img 
		width: 340px
		height: 340px


.foto__info__left__block
	width: 100%
	padding-top: 60%
	padding-left: 45%

.block__foto
	width: 250px
	height: 250px
	overflow: hidden
	background-color: #000
	border-radius: 50%
	// border: 1px solid red
	img 
		width: 250px
		height: 250px

.transition
	transition: all 0.7s ease-out
	&:hover
		 transform: scale(1.1)

.block__info__text
	width: 200px
	height: 50px
	display: flex
	justify-content: flex-end
	margin-top: -20px
	// border: 1px solid red
	font-size: 16px
	font-family: "GilroyExtraBold"
	color: #fff
	text-shadow: 5px 5px 5px #000
	span 
		margin-left: 3%

.info__text
	width: 140px

.animation__point
	animation: animation__point 1.5s infinite alternate

@keyframes animation__point 
	0%
		width: 12px
		height: 12px
		border: 2px solid #287dff

	100%
		width: 14px
		height: 14px
		border: 3px solid #fff
			

.block__animate__circle
	width: 200px
	height: 20px
	margin-top: -20px
	display: flex
	justify-content: flex-end
	align-items: center
	// border: 1px solid red

.foto__info__form__block
	width: 100%
	padding-top: 20%
	margin-left: 20%

.third__screen__form
	width: 100%
	margin-top: 80px
	// border: 1px solid green
	display: flex
	flex-direction: column
	input 
		background: none 
		width: 70%
		border: none
		border-bottom: 2px solid rgba(83, 39, 255, 0.8)
		font-family: "GilroyUltraLight"
		color: #EDEDED

.third__screen__form__button
	width: 100%
	height: 80px
	margin-top: 20px
	button 
		width: 380px
		height: 100%
		border: none
		border-radius: 50px
		background: url(../img/gradien__button.png)no-repeat center
		background-size: 100% 100%
		display: flex 
		justify-content: center
		align-items: center
		color: #fff
		font-size: 24px
		font-family: "GilroyExtraBold"
		cursor: pointer
		&:hover 
			color: #EDEDED
			box-shadow: 0 0 20px rgba(83, 39, 255, 0.8)




///////////////////////////////////////



// fourt screen slider section

.fourth__screen
	width: 100%
	height: 100%
	background: url(../img/BG__Slider__Block.png) no-repeat 
	background-size: 100% 100%
	display: flex
	align-items: flex-end
	

.block__slider
	width: 100%
	height: 100%
	display: flex
	flex-wrap: wrap
	align-items: space-between

.block__slider__info
	width: 100%
	height: 200px
	padding-left: 15%
	color: #080808
	font-family: "GilroyExtraBold"
	font-size: 53px
	font-weight: 400
	line-height: 49.21px
	text-transform: uppercase
	letter-spacing: 8.61px
	span 
		color: #ffffff
		font-family: "GilroyExtraBold"
		font-size: 87px
		font-weight: 400
		line-height: 78.18px
		text-transform: uppercase
		letter-spacing: 4.87px

.elips__container
	width: 100%
	height: 462px
	margin-left: 35%
	position: relative

// slider style

.elips__slider__block
	width: 290px
	height: 300px
	position: absolute
	top: 27%
	left: 10%

.slider__header__name
	width: 100%
	height: 36px
	color: #000000
	font-family: "GilroyExtraBold"
	font-size: 48px
	font-weight: 400
	line-height: 59.49px
	letter-spacing: 3.54px

.slider__header__info
	height: 17px
	opacity: 0.6
	color: #010101
	font-family: "GilroyExtraBold"
	font-size: 18px
	font-weight: 400
	line-height: 59.49px
	letter-spacing: 1.33px

.slider__text
	width: 100%
	height: 146px
	margin-top: 50px
	margin-bottom: 15px
	color: #000000
	font-family: "GilroyUltraLight"
	font-size: 16px
	font-weight: bold
	line-height: 26px
	letter-spacing: 0.4px

.slider__button__block
	width: 100%
	height: 15px
	position: absolute
	z-index: 10
	top: 82%
	display: flex
	justify-content: space-between
	a
		opacity: 0.6
		display: block
		color: #000
		font-family: "GilroyExtraBold"
		font-size: 14px
		font-weight: 400
		line-height: 69.75px
		text-decoration: underline
		letter-spacing: 2.79px
		margin-left: 5px
		&:hover 
			color: #242424

.block__girl
	width: 100%
	height: 100%
	margin-top: 65px
	margin-left: -40%
	

.container__girl
	width: 416px
	height: 609
	bottom: 0%


  

////////////////////////////////////


// fifth__screen section 

.fifth__screen
	width: 100%
	height: 100%
	background: url(../img/BG__5.png) no-repeat center center
	background-size: 100% 100%

.city__map__lviv
	width: 62px
	height: 52px
	position: absolute
	top: 42%
	left: 20%
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center
	z-index: 1

.city__map__kiev
	width: 62px
	height: 52px
	position: absolute
	top: 42%
	left: 36%
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center
	z-index: 1
	

.city__map__odesa
	width: 62px
	height: 52px
	position: absolute
	top: 65%
	left: 38%
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center
	z-index: 1
	
	
.city__map__info
	width: 100%
	height: 40%
	display: flex
	justify-content: center
	color: #287dff
	font-family: "GilroyExtraBold"
	font-size: 12px
	font-weight: 400
	line-height: 18px
	text-transform: uppercase
	letter-spacing: 2.62px
	text-shadow: 0 0 20px rgba(83, 39, 255, 0.8)
	animation: map-animation-info 1.8s infinite alternate

.city__map__circle
	width: 12px
	height: 12px
	background-color: none
	border-radius: 50%
	border: 2px solid #287dff
	box-shadow: 0 0 20px rgba(83, 39, 255, 0.8)
	animation: map-animation-cirle 1.5s infinite alternate

// city map animation

@keyframes map-animation-info

	0%
		color: #287dff 
		font-size: 12px

	100%
		color: #fff
		font-size: 12px

@keyframes map-animation-cirle

	0%
		width: 12px
		height: 12px
		border: 2px solid #287dff

	100%
		width: 14px
		height: 14px
		border: 3px solid #fff
			

/////////////////////

.button__block
	button 
		width: 311px
		height: 70px
		margin-top: 35px
		background: none
		border-radius: 50px
		border: none
		box-shadow: 0 0 90px 16px rgba(239, 181, 177, 0.75)
		color: #fff
		font-size: 25px
		transition-delay: 0.1s
		&:hover 
			color: #EDEDED
			background-color: #780C29
			cursor: pointer

.button__block__info
	width: 60%
	margin-top: 10px
	color: #fff
	display: flex
	justify-content: center

.footer__logo__info
	width: 100%
	height: 250px
	margin-top: 80%

.footer__logo 
	width: 100%
	height: 43px
	display: flex
	justify-content: center

.footer__info
	width: 100%
	height: 43px
	margin-top: 10px
	display: flex
	justify-content: center
	opacity: 0.2
	color: #ffffff
	font-family: "GilroyExtraBold"
	font-size: 14px
	font-weight: 400
	line-height: 18px
	text-transform: uppercase
	letter-spacing: 2.62px

.footer__text
	width: 150px
	height: 43px

.footer__info__map 
	width: 100%
	height: 43px
	display: flex
	justify-content: center
	color: #fff
	font-family: "GilroyExtraBold"
	font-size: 14px
	font-weight: 400
	line-height: 18px
	text-transform: uppercase
	letter-spacing: 2.62px

.footer__mobile
	width: 100%
	height: 43px
	display: flex
	justify-content: center
	opacity: 0.3
	font-family: "GilroyExtraBold"
	font-size: 14px
	font-weight: 400
	line-height: 18px
	text-transform: uppercase
	letter-spacing: 2.62px
	color: #616161
	font-size: 12px
	letter-spacing: 2.24px


.footer__form__info 
	width: 100%
	height: 150px
	margin-top: 20%
	color: #ffffff
	font-family: "GilroyExtraBold"
	font-size: 58px
	font-weight: 400
	line-height: 54.28px
	text-transform: uppercase
	letter-spacing: 8.61px

.footer__form
	width: 100%
	height: 100px
	input 
		width: 80%
		background: none
		border: none
		border-bottom: 2px solid #5327ff
		color: #fff
		margin-top: 15px
		font-family: "GilroyUltraLight"

.footer__form__button 
	width: 411px
	height: 80px
	margin-top: 15px
	border-radius: 50px
	background: url(../img/gradien__button.png)no-repeat center
	background-size: 100% 100%
	display: flex 
	justify-content: center
	align-items: center
	color: #fff
	font-size: 24px
	font-family: "GilroyExtraBold"
	cursor: pointer
	&:hover 
		color: #EDEDED
		box-shadow: 0 0 20px rgba(83, 39, 255, 0.8)

.footer__link 
	width: 100%
	height: 40px
	display: flex
	justify-content: flex-start
	opacity: 0.5
	color: #199dff
	font-family: "GilroyExtraBold"
	font-size: 16px
	font-weight: 400
	line-height: 95.29px
	text-decoration: underline
	letter-spacing: 0.6px



  
	


// navigation menu my custome style

.right
	// border: 1px solid red
	left: 7.3%
	padding-bottom: 5px

a.active
	border: 10px solid rgba(76, 54, 255, 0.2)
	border-radius: 50%

//////////////////////////////////////

				


@import "media" // Always at the end
