@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

* 
	outline: 0 !important

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: #161617
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold


// style


.first__screen
	width: 100%
	height: 100%
	background: url(../img/background-1.png) no-repeat 
	background-size: 100% 100%

.content__block
	width: 100%

.header__menu
	width: 100%
	height: 50px
	margin-top: 42px
	display: flex 
	justify-content: space-between
	align-items: center

.menu__logo__info
	width: 307px
	height: 100%
	display: flex
	justify-content: space-between
	align-items: center

.header__menu__info
	width: 180px
	height: 34px
	opacity: 0.2
	color: #ffffff
	font-family: "GilroyExtraBold"
	font-size: 14px
	font-weight: 400
	line-height: 18px
	text-transform: uppercase
	letter-spacing: 2.62px
	
.contact__block__tell
	width: 275px
	height: 23px
	color: #ffffff
	font-family: "GilroyExtraBold"
	font-size: 30px
	font-weight: 400
	line-height: 60px
	letter-spacing: 0.75px
	display: flex
	align-items: center
	
.contact__block__img
	width: 60px
	height: 39px
	display: flex
	justify-content: center
	align-items: center
	margin-left: 10px

.contact__block__info
	width: 277px
	height: 12px
	margin-top: 10px
	display: flex
	justify-content: center
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25)
	color: #ffffff
	font-family: "UbuntuMediumItalic"
	font-size: 12px
	font-weight: 400
	line-height: 7.23px
	letter-spacing: 0.12px

.second__screen
	width: 100%
	height: 100%
	background: url(../img/workoutmen_.png) no-repeat 
	background-size: 100% 100%
.third__screen
	width: 100%
	height: 100%
	background: url(../img/background-3.png) no-repeat 
	background-size: 100% 100%
.fourth__screen
	width: 100%
	height: 100%
	background: url(../img/BG.png) no-repeat 
	background-size: 100% 100%
.fifth__screen


.block__slider
	width: 100%
	height: 100vh
	background: url(../img/background-girl.png) no-repeat
	background-size: 100% 100%
	display: flex
	justify-content: center
	align-items: center

// navigation menu my custome style

.right
	// border: 1px solid red
	left: 7.6%
	padding-bottom: 5px

a.active
	border: 10px solid rgba(76, 54, 255, 0.2)
	border-radius: 50%

//////////////////////////////////////

				





@import "media" // Always at the end
